USE [master]
GO
/****** Object:  Database [LPerezEKS]    Script Date: 10/6/2022 7:29:29 PM ******/
CREATE DATABASE [LPerezEKS]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LPerezEKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LPerezEKS]
GO
/****** Object:  StoredProcedure [dbo].[GetByEmail]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetByEmail]
@Email VARCHAR (100)
AS
SELECT 
IdUsuario,
Nombre, 
ApellidoPaterno, 
ApellidoMaterno, 
Email, 
Password, 
UserName, 
Sexo, 
Telefono
FROM Usuario
WHERE Email=@Email
GO
/****** Object:  StoredProcedure [dbo].[ProductoAdd]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoAdd]
@Nombre VARCHAR (50), 
@Precio DECIMAL, 
@Descripcion VARCHAR(500), 
@Imagen VARBINARY (MAX)
AS 
INSERT INTO Producto(Nombre, Precio, Descripcion, Imagen)
VALUES(@Nombre, @Precio,@Descripcion,@Imagen)
GO
/****** Object:  StoredProcedure [dbo].[ProductoDelete]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoDelete] 
@IdProducto INT
AS
DELETE FROM Producto 
WHERE IdProducto=@IdProducto
GO
/****** Object:  StoredProcedure [dbo].[ProductoGetall]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoGetall]
AS
SELECT
IdProducto,
Nombre, 
Precio,
Descripcion, 
Imagen
FROM Producto
GO
/****** Object:  StoredProcedure [dbo].[ProductoGetById]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoGetById]
@IdProducto INT
AS
SELECT 
IdProducto, 
Nombre, 
Precio, 
Descripcion, 
Imagen
FROM Producto 
WHERE IdProducto=@IdProducto

GO
/****** Object:  StoredProcedure [dbo].[ProductoUpdate]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoUpdate]
@IdProducto INT, 
@Nombre VARCHAR(100),
@Precio DECIMAL, 
@Descripcion VARCHAR(500), 
@Imagen VARBINARY (MAX)
AS
UPDATE Producto SET Nombre=@Nombre, Precio=@Precio, Descripcion=@Descripcion, Imagen=@Imagen
WHERE IdProducto=@IdProducto
GO
/****** Object:  StoredProcedure [dbo].[UsuarioAdd]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioAdd]
@Nombre VARCHAR (100), 
@ApellidoPaterno VARCHAR (100), 
@ApellidoMaterno VARCHAR (100), 
@Email VARCHAR (100), 
@Password VARCHAR (20), 
@UserName VARCHAR (50), 
@Sexo CHAR(2),
@Telefono VARCHAR (20)
AS 
INSERT INTO Usuario(Nombre, ApellidoPaterno,ApellidoMaterno,Email,Password,UserName,Sexo,Telefono)
VALUES(@Nombre,@ApellidoPaterno,@ApellidoMaterno,@Email,@Password,@UserName,@Sexo,@Telefono)
GO
/****** Object:  StoredProcedure [dbo].[UsuarioDelete]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioDelete] 
@IdUsuario INT 
AS 
DELETE FROM Usuario 
WHERE IdUsuario=@IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetall]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetall]
AS
SELECT
IdUsuario,
Nombre, 
ApellidoPaterno, 
ApellidoMaterno, 
Email, 
Password, 
UserName, 
Sexo, 
Telefono
FROM Usuario 
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetById]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetById]
@IdUsuario INT
AS
SELECT
IdUsuario,
Nombre, 
ApellidoPaterno, 
ApellidoMaterno, 
Email, 
Password, 
UserName, 
Sexo, 
Telefono
FROM Usuario
WHERE IdUsuario=@IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioUpdate]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioUpdate]
@IdUsuario INT,
@Nombre VARCHAR (100), 
@ApellidoPaterno VARCHAR (100), 
@ApellidoMaterno VARCHAR (100), 
@Email VARCHAR (100), 
@Password VARCHAR (20), 
@UserName VARCHAR (50), 
@Sexo CHAR(2),
@Telefono VARCHAR (20)
AS
UPDATE Usuario 
SET Nombre=@Nombre, ApellidoPaterno=@ApellidoPaterno, ApellidoMaterno=@ApellidoMaterno, Email=@Email, Password=@Password, UserName=@UserName, Sexo=@Sexo, Telefono=@Telefono 
WHERE IdUsuario=@IdUsuario
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Precio] [decimal](18, 0) NULL,
	[Descripcion] [varchar](500) NULL,
	[Imagen] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/6/2022 7:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[ApellidoPaterno] [varchar](100) NULL,
	[ApellidoMaterno] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](20) NULL,
	[UserName] [varchar](50) NULL,
	[Sexo] [char](2) NULL,
	[Telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [UserName], [Sexo], [Telefono]) VALUES (1, N'Alejandro', N'Fernandez', N'Cruz', N'alejandrofc@gmail.com', N'1369', N'alejandrofc', N'M ', N'5582982984')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [UserName], [Sexo], [Telefono]) VALUES (5, N'Fernando', N'Sanchez', N'Serrano', N'fernandoss@gmail.com', N'Fernando0#', N'fernandoss', N'M ', N'553929828')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [UserName], [Sexo], [Telefono]) VALUES (7, N'Adriana', N'Cortez', N'Gomez', N'adrianacg@gmail.com', N'Adriana0@', N'adriana1', N'F ', N'553929828')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
USE [master]
GO
